body{
    background-color: black;
}
.card{
    background-image: url(assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 200px;
    padding: 1px 20px;
    margin: auto;
    margin-top: 10%;
    box-sizing: border-box;
}
h1{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    color: black
}
.instagram{
    list-style-image: url(assets/Insta.png);
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-variant: small-caps;
}
.twitter{
    list-style-image: url(assets/Twitter.png);
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-variant: small-caps;
}
.youtube{
    list-style-image: url(assets/Youtube.png);
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-variant: small-caps;
}