.quadrado{
    width: 100px;
    height: 100px;
}
.quadrado-red{
    background-color: red;
    position: sticky;
    top: 0px;
    width: 100%;
}
.quadrado-blue{
    background-color: blue;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.quadrado-green{
    background-color: green;
}
.quadro{
    position: relative;
    width: 500px;
    height: 1000px;
    border: 1px solid gray;
}
body{
    font-size: 1.5rem;
}
img{
    float: left;
}
.container{
    border: 1px solid black;
    overflow: auto;
}
ul{
    list-style: none; 
}
li{
    float: left;
    padding: 10px;
    background-color: #a3b5c7;
    margin: 5px;
}