.quadrado{
    width: 100px;
    height: 100px;
}
.quadrado-red{
    background-color: red;
    position: sticky;
    top: 0px;
    width: 100%;
}
.quadrado-blue{
    background-color: blue;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.quadrado-green{
    background-color: green;
}
.quadro{
    position: relative;
    width: 500px;
    height: 1000px;
    border: 1px solid gray;
}
body{
    font-size: 1.5rem;
}
img{
    float: left;
}
.container{
    border: 1px solid black;
    overflow: auto;
}
ul{
    list-style: none; 
    clear: left;
}
li{
    float: left;
    padding: 10px;
    background-color: #a3b5c7;
    margin: 5px;
}
.card{
    position: relative;
    float: left;
    width: 400px;
    height: 200px;
    border: 2px solid green;
    text-align: center;
}
.c1{
    line-height: 200px;
}
.c2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translate(-50%, -50%)
}